@using BusinessEntity;
@using MyNews.Models;
@model ListModel<BusinessEntity.BitacoreMessage>
@{
	int i = 1;
}

<div class="container.is-widescreen my-5">
	<div class="columns">
		<div class="column px-5">
			<h1 class="title is-2"><i class="fas fa-clipboard-list"></i> @(((Dictionary<string,string>)Session["texts"])["bitacore"])</h1>

			<div class="filter-container">
				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">@(((Dictionary<string,string>)Session["texts"])["text"])</label>
							<div class="control">
								<input id="typeFilter" class="input" type="text">
							</div>
						</div>
					</div>
					<div class="column">
						<div class="field">
							<label class="label">@(((Dictionary<string,string>)Session["texts"])["from"])</label>
							<div class="control">
								<input id="fromFilter" class="input" type="date" placeholder="@(((Dictionary<string,string>)Session["texts"])["from"])">
							</div>
						</div>
					</div>
					<div class="column">
						<div class="field">
							<label class="label">@(((Dictionary<string,string>)Session["texts"])["to"])</label>
							<div class="control">
								<input id="toFilter" class="input" type="date" placeholder="@(((Dictionary<string,string>)Session["texts"])["to"])">
							</div>
						</div>
					</div>
				</div>

				<button id="filterBtn" class="button"><i class="fas fa-search"></i></button>
			</div>

			<div class="scrollable-table">
				<table class="table is-striped is-hoverable" style="width: 100%">
					<thead>
						<tr>
							<th>#</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["title"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["description"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["type"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["date"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["user"])</th>
						</tr>
					</thead>
					<tbody>
						@foreach (BitacoreMessage msg in Model.Items) {
							<tr id="@msg.id">
								<td>@(i++)</td>
								<td>@msg.title</td>
								<td>@msg.description</td>
								<td>@msg.type</td>
								<td>@msg.date.ToString()</td>
								<td>@(msg.user != null? msg.user.username : "") </td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script>
		let params = new URLSearchParams(location.search);
		document.getElementById("fromFilter").value = params.get('from')
		document.getElementById("toFilter").value = params.get('to')
		document.getElementById("typeFilter").value = params.get('type')
		
		document.getElementById("filterBtn").addEventListener("click", async (event) => {
			const from = document.getElementById("fromFilter").value;
			const to = document.getElementById("toFilter").value;
			const type = document.getElementById("typeFilter").value;
			relocation('Bitacore?from=' + from + '&to=' + to + '&type=' + type);
		});
	</script>
</div>
