@using BusinessLogic;
@using BusinessEntity;
@using Security;
@{
	int i = 1;
	List<Tag> allTags = new TagBl().get();
}

<div class="container.is-widescreen my-5">
	<div class="columns">
		<div class="column px-5">
			<h1 class="title is-2">@(((Dictionary<string,string>)Session["texts"])["create"]) @(((Dictionary<string,string>)Session["texts"])["post"])</h1>

			<form id="createForm">
				<div class="field">
					<label class="label">@(((Dictionary<string,string>)Session["texts"])["title"])</label>
					<div class="control">
						<input id="title" class="input" type="text" required>
					</div>
				</div>

				<div class="field">
					<label class="label">@(((Dictionary<string,string>)Session["texts"])["body"])</label>
					<div class="control">
						<textarea id="body" class="textarea" required></textarea>
					</div>
				</div>

				<label class="label">@(((Dictionary<string,string>)Session["texts"])["tags"])</label>
				<div class="scrollable-table">
					<table class="table is-striped is-hoverable" style="width: 100%">
						<thead>
							<tr>
								<th></th>
								<th>@(((Dictionary<string,string>)Session["texts"])["name"])</th>
								<th>@(((Dictionary<string,string>)Session["texts"])["color"])</th>
							</tr>
						</thead>
						<tbody>
							@foreach (Tag tag in allTags) {
							<tr>
								<td>
									<label class="checkbox">
										<input id="@tag.id" type="checkbox" name="tagboxes">
									</label>
								</td>
								<td>@tag.name</td>
								<td><div class="tag round-tag" style="background-color: @tag.color"></div></td>
							</tr>
							}
						</tbody>
					</table>
				</div>

				<div class="py-4">
					<button id="saveBtn" type="submit" class="button is-success"><i class="fas fa-check"></i></button>
					<a href="/Writer" class="button is-danger is-outlined">@(((Dictionary<string,string>)Session["texts"])["cancel"])</a>
				</div>
			</form>
		</div>
	</div>

	<script>
		document.getElementById("createForm").addEventListener("submit", async (event) => {
			event.preventDefault();

			const checkedBoxes = document.querySelectorAll('input[name=tagboxes]:checked');
			let tagsSelected = [];

			checkedBoxes.forEach(box => {
				if (box.checked) {
					tagsSelected.push(box.id);
				}
			})

			if (tagsSelected.length == 0) {
				return showAlert({
					type: 'danger',
					description: '@(((Dictionary<string,string>)Session["texts"])["complete_data"])'
				});
			}

			const response = await post('/Writer/CreatePost', {
				title: document.getElementById("title").value,
				body: document.getElementById("body").value,
				tags: tagsSelected
			});

			if (response.type == 'success') {
				window.location.replace("/Writer");
			}

			showAlert(response);
		});
	</script>
</div>