<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My News</title>
    @Styles.Render("~/Content/css")
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://bulma.io">
				<img src="~/Assets/Images/logo.png" width="90" height="28">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item">
					<i class="fas fa-home"></i> <span class="navbar-item-text">Principal</span>
				</a>

				<a class="navbar-item">
					<i class="fas fa-i-cursor"></i> <span class="navbar-item-text">Escritor</span>
				</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						<i class="fas fa-cog"></i> <span class="navbar-item-text">Admin</span>
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item">
							<i class="fas fa-hard-hat"></i> <span class="navbar-item-text">Empleados</span>
						</a>
						<a class="navbar-item">
							<i class="fas fa-users-cog"></i> <span class="navbar-item-text">Usuarios</span>
						</a>
						<a class="navbar-item">
							<i class="fas fa-archive"></i> <span class="navbar-item-text">Copia de seguridad</span>
						</a>
						<a class="navbar-item">
							<i class="fas fa-user-lock"></i> <span class="navbar-item-text">Permisos</span>
						</a>
						<a class="navbar-item">
							<i class="fas fa-clipboard-list"></i> <span class="navbar-item-text">Bitácora</span>
						</a>
						<a class="navbar-item">
							<i class="fas fa-chart-pie"></i> <span class="navbar-item-text">Reportes</span>
						</a>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-primary">
							<strong>Sign up</strong>
						</a>
						<a class="button is-light">
							Log in
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>
