@using BusinessEntity;
@using Security;
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My News</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="./">
				<img src="~/Assets/Images/logo.png" width="90" height="28">
			</a>

			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a class="navbar-item" href="~/Home">
					<i class="fas fa-home"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["home"])</span>
				</a>

				@if (new PolicyBl().hasPermission((User)Session["user"], "post_manage")) {
					<a class="navbar-item" href="~/Writer">
						<i class="fas fa-i-cursor"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["writer"])</span>
					</a>
				}

				@if (new PolicyBl().hasPermission((User)Session["user"], "admin_see")) {
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<i class="fas fa-cog"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["admin"])</span>
						</a>

						<div class="navbar-dropdown">
							@if (new PolicyBl().hasPermission((User)Session["user"], "admin_employees")) {
								<a class="navbar-item" href="~/Employee">
									<i class="fas fa-hard-hat"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["employees"])</span>
								</a>
							}
							@if (new PolicyBl().hasPermission((User)Session["user"], "admin_users")) {
								<a class="navbar-item" href="~/User">
									<i class="fas fa-users-cog"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["users"])</span>
								</a>
							}
							@if (new PolicyBl().hasPermission((User)Session["user"], "admin_copy")) {
								<a class="navbar-item" href="~/Backup">
									<i class="fas fa-archive"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["backup"])</span>
								</a>
							}
							@if (new PolicyBl().hasPermission((User)Session["user"], "admin_policies")) {
								<a class="navbar-item" href="~/Authorization">
									<i class="fas fa-user-lock"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["permits"])</span>
								</a>
							}
							@if (new PolicyBl().hasPermission((User)Session["user"], "admin_bitacore")) {
								<a class="navbar-item" href="~/Bitacore">
									<i class="fas fa-clipboard-list"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["bitacore"])</span>
								</a>
							}
							@if (new PolicyBl().hasPermission((User)Session["user"], "admin_reports")) {
								<a class="navbar-item" href="~/Reports">
									<i class="fas fa-chart-pie"></i> <span class="navbar-item-text">@(((Dictionary<string,string>)Session["texts"])["reports"])</span>
								</a>
							}
						</div>
					</div>
				}
			</div>

			<div class="navbar-end">
				@if (Session["user"] == null) {
					<div class="navbar-item">
						<div class="buttons">
							<a class="button is-primary" href="~/Login/Signup">
								<strong>@(((Dictionary<string,string>)Session["texts"])["signup"])</strong>
							</a>
							<a class="button is-light" href="~/Login">
								@(((Dictionary<string,string>)Session["texts"])["login"])
							</a>
						</div>
					</div>
				} else {
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<i class="fas fa-user-circle"></i> <span class="navbar-item-text">@(((User)Session["user"]).username)</span>
						</a>

						<div class="navbar-dropdown">
							<a class="navbar-item" href="~/User/View/@(((User)Session["user"]).id)">
								@(((Dictionary<string,string>)Session["texts"])["profile"])
							</a>
							<a class="navbar-item" href="~/User/Password/@(((User)Session["user"]).id)">
								@(((Dictionary<string,string>)Session["texts"])["password_reset"])
							</a>
							<hr class="navbar-divider">
							<a class="navbar-item" href="~/Login/Logout">
								@(((Dictionary<string,string>)Session["texts"])["logout"])
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	</nav>

	<div id="custom-alert-notification" class="alert-notification">
		<article id="custom-alert" class="message is-hidden">
			<div id="custom-alert-message" class="message-body"></div>
		</article>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My News</p>

			<div class="select is-rounded my-5">
				<select id="languageList">
					<option selected disabled hidden>🌐 @(((Dictionary<string,string>)Session["texts"])["language"])</option>
					@foreach (Language l in new LanguageBl().get()) {
						<option value="@l.id">@l.name</option>
					}
				</select>
			</div>
		</footer>
	</div>

	@Scripts.Render("~/Content/js")
</body>
</html>
