@using BusinessEntity;
@using MyNews.Models;
@model ListModel<BusinessEntity.Employee>
@{
	int i = 1;
}

<div class="container.is-widescreen my-5">
	<div class="columns">
		<div class="column px-5">
			<h1 class="title is-2">
				<i class="fas fa-hard-hat"></i> @(((Dictionary<string,string>)Session["texts"])["employees"])
				<a href="Employee/Create" class="button is-outlined">@(((Dictionary<string,string>)Session["texts"])["add"])<i class="far fa-plus-square ml-2"></i></a>
			</h1>

			<div class="filter-container">
				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">@(((Dictionary<string,string>)Session["texts"])["text"])</label>
							<div class="control">
								<input id="textFilter" class="input" type="text">
							</div>
						</div>

						<label class="checkbox">
							<input id="showOld" type="checkbox">
							@(((Dictionary<string,string>)Session["texts"])["show_unemployed"])
						</label>
					</div>
				</div>

				<button id="filterBtn" class="button"><i class="fas fa-search"></i></button>
			</div>

			<div class="scrollable-table">
				<table class="table is-striped is-hoverable" style="width: 100%">
					<thead>
						<tr>
							<th>#</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["name"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["document"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["action"])</th>
						</tr>
					</thead>
					<tbody>
						@foreach (Employee employee in Model.Items) {
							<tr id="@employee.employeeId">
								<td>@(i++)</td>
								<td><a href="Employee/Update/@employee.employeeId">@employee.name</a></td>
								<td>@employee.document</td>
								<td>
									<button onclick="showDeleteModal(@employee.employeeId, '@employee.name')" class="button is-danger is-outlined"><i class="fas fa-trash-alt"></i></button>
									<a href="Employee/Update/@employee.employeeId" class="button is-outlined"><i class="fas fa-edit"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p id="employeeName" class="modal-card-title"></p>
				<button onclick="toggleModal()" class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<p>@(((Dictionary<string,string>)Session["texts"])["delete_confirmation"])</p>
			</section>
			<footer class="modal-card-foot">
				<button onclick="deleteLanguage()" class="button is-success"><i class="fas fa-check"></i></button>
				<button onclick="toggleModal()" class="button"><i class="fas fa-times"></i></button>
			</footer>
		</div>
	</div>

	<script>
		var employeeId = 0;

		document.getElementById("filterBtn").addEventListener("click", async (event) => {
			const text = document.getElementById("textFilter").value;
			const showOld = document.getElementById("showOld").checked;
			window.location.replace('?text=' + text + '&showOld=' + showOld);
		});

		function showDeleteModal(id, name) {
			employeeId = id;
			document.getElementById("employeeName").innerText = name;
			toggleModal();
		}

		async function deleteLanguage() {
			const response = await get('/Employee/Delete?id=' + employeeId);
			toggleModal();
			showAlert(response);

			setTimeout(function () { location.reload(); }, 1500);
		}
	</script>
</div>
