@{
	Layout = "_LoginLayout.cshtml";
}

<div class="login-center">
	<div class="columns is-desktop login-container">
		<div class="column login-column login-column-left">
			<div class="company-container">
				<img src="~/Assets/Images/logo.png">
				<p>@(((Dictionary<string,string>)Session["texts"])["login_caption"])</p>
			</div>
		</div>
		<div class="column login-column login-column-right">
			<div class="login-box">
				<form id="resetForm">
					<h2 class="title is-2">@(((Dictionary<string,string>)Session["texts"])["password_reset"])</h2>

					<div class="field">
						<label class="label">@(((Dictionary<string,string>)Session["texts"])["email"])</label>
						<div class="control has-icons-left has-icons-right">
							<input id="email" class="input" type="email" placeholder="@(((Dictionary<string,string>)Session["texts"])["email"])" required>
							<span class="icon is-small is-left">
								<i class="far fa-envelope"></i>
							</span>
						</div>
					</div>

					<div class="is-pulled-right">
						<input class="button is-info" type="submit" value="@(((Dictionary<string,string>)Session["texts"])["password_reset"])">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById("resetForm").addEventListener("submit", async (event) => {
		event.preventDefault();
		var email = document.getElementById("email").value;
		const response = await get('Reset?email=' + email);
		showAlert(response);
	});
</script>