@{
	Layout = "_LoginLayout.cshtml";
}

<div class="login-center">
	<div class="columns is-desktop login-container">
		<div class="column login-column login-column-left">
			<div class="company-container">
				<img src="~/Assets/Images/logo.png">
				<p>@(((Dictionary<string,string>)Session["texts"])["login_caption"])</p>
				<a class="button is-info" href="Login/Signup">@(((Dictionary<string,string>)Session["texts"])["signup"])</a>
			</div>
		</div>
		<div class="column login-column login-column-right">
			<div class="login-box">
				<form id="loginForm">
					<h2 class="title is-2">@(((Dictionary<string,string>)Session["texts"])["login"])</h2>

					<div class="field">
						<label class="label">@(((Dictionary<string,string>)Session["texts"])["username"])</label>
						<div class="control has-icons-left has-icons-right">
							<input id="username" class="input" type="text" placeholder="@(((Dictionary<string,string>)Session["texts"])["username"])" required>
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<label class="label">@(((Dictionary<string,string>)Session["texts"])["password"])</label>
						<div class="control has-icons-left has-icons-right">
							<input id="password" class="input" type="password" placeholder="@(((Dictionary<string,string>)Session["texts"])["password"])" required>
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</div>
					</div>

					<div class="is-pulled-right">
						<a class="button is-text" href="/Login/ForgotPassword">@(((Dictionary<string,string>)Session["texts"])["forgot_pass"])</a>
						<input class="button is-info" type="submit" value="@(((Dictionary<string,string>)Session["texts"])["login"])">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById("loginForm").addEventListener("submit", async (event) => {
		event.preventDefault();
		const username = document.getElementById("username").value;
		const password = document.getElementById("password").value;
		const response = await get('Login/Login?username=' + username + '&password=' + password);
		showAlert(response);

		if (response.type == 'success') {
			window.location.replace("/Home");
		}

		if (response.data) {
			setTimeout(function () {
				window.location.replace("/Backup");
			}, 1000);
		}
	});
</script>
