@using BusinessEntity;
@using MyNews.Models;
@model ListModel<BusinessEntity.User>
@{
	int i = 1;
}

<div class="container.is-widescreen my-5">
	<div class="columns">
		<div class="column px-5">
			<h1 class="title is-2">
				<i class="fas fa-users-cog"></i> @(((Dictionary<string,string>)Session["texts"])["users"])
				<a href="~/User/Create" class="button is-outlined">@(((Dictionary<string,string>)Session["texts"])["add"])<i class="far fa-plus-square ml-2"></i></a>
			</h1>

			<div class="filter-container">
				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">@(((Dictionary<string,string>)Session["texts"])["name"])</label>
							<div class="control">
								<input id="nameFilter" class="input" type="text">
							</div>
						</div>
					</div>
				</div>

				<button id="filterBtn" class="button"><i class="fas fa-search"></i></button>
			</div>

			<div class="scrollable-table">
				<table class="table is-striped is-hoverable" style="width: 100%">
					<thead>
						<tr>
							<th>#</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["username"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["mail"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["name"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["lastname"])</th>
							<th>@(((Dictionary<string,string>)Session["texts"])["action"])</th>
						</tr>
					</thead>
					<tbody>
						@foreach (User user in Model.Items) {
							<tr id="@user.id">
								<td>@(i++)</td>
								<td><a href="~/User/View/@user.id">@user.username</a></td>
								<td>@user.mail</td>
								<td>@user.name</td>
								<td>@user.lastname</td>
								<td>
									<button onclick="showDeleteModal(@user.id, '@user.name')" class="button is-danger is-outlined"><i class="fas fa-trash-alt"></i></button>
									<a href="~/User/Update/@user.id" class="button is-outlined"><i class="fas fa-edit"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p id="userName" class="modal-card-title"></p>
				<button onclick="toggleModal()" class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<p>@(((Dictionary<string,string>)Session["texts"])["delete_confirmation"])</p>
			</section>
			<footer class="modal-card-foot">
				<button onclick="deleteUser()" class="button is-success"><i class="fas fa-check"></i></button>
				<button onclick="toggleModal()" class="button"><i class="fas fa-times"></i></button>
			</footer>
		</div>
	</div>

	<script>
		var userId = 0;
		let params = new URLSearchParams(location.search);
		document.getElementById("nameFilter").value = params.get('name')

		document.getElementById("filterBtn").addEventListener("click", async (event) => {
			const name = document.getElementById("nameFilter").value;
			window.location.replace('?name=' + name);
		});

		function showDeleteModal(id, name) {
			userId = id;
			document.getElementById("userName").innerText = name;
			toggleModal();
		}

		async function deleteUser() {
			const response = await get('/User/Delete?id=' + userId);
			toggleModal();
			showAlert(response);

			setTimeout(function () { location.reload(); }, 1500);
		}
	</script>
</div>
