@using BusinessEntity;
@using Security;
@model BusinessEntity.Tag
@{
	int i = 1;
}

<div class="container.is-widescreen my-5">
	<div class="columns">
		<div class="column px-5">
			<h1 class="title is-2">@Model.name</h1>

			<div class="field">
				<label class="label">@(((Dictionary<string,string>)Session["texts"])["name"])</label>
				<div class="control">
					<input id="tagName" class="input" type="text" value="@Model.name">
				</div>
			</div>

			<div class="py-4">
				<button id="saveBtn" class="button is-success"><i class="fas fa-check"></i></button>
				<a href="/Tag" class="button is-danger is-outlined">@(((Dictionary<string,string>)Session["texts"])["cancel"])</a>
			</div>
		</div>
	</div>

	<script>
		document.getElementById("saveBtn").addEventListener("click", async (event) => {
			const response = await post('/Tag/UpdateTag', {
				id: @Model.id,
				name: document.getElementById("tagName").value
			});

			if (response.type == 'success') {
				window.location.replace("/Tag");
			}

			showAlert(response);
		});
	</script>
</div>